@{
    ViewBag.Title = "About";
}

<body style="background-color:indianred">
    <div class="col-xs-4">
        <h1 style="font-size:77px;">WE'RE AMAZING</h1>
        </div>
    <div class="col-xs-8">
        <img src="http://www.gannett-cdn.com/-mm-/ff7fd29458cacd756c29d16bb09b4e1a243bb48b/c=180-0-1612-1080&r=x513&c=680x510/local/-/media/USATODAY/USATODAY/2013/10/06/1381092002000-BU013-206EV.jpg" />
        </div>
</body>