@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the SWCG Car Dealership!</h1>
    <button type="button" class="btn btn-info btn-lg">@Html.ActionLink("Go ahead and look around!", "Index", "Car")</button>
  

    <img src="http://salesman.red/wp-content/uploads/2015/05/ron-car-salesman.jpg" width="1000"/>
</div>