
@{
    ViewBag.Title = "Thanks";
}

<body style="background-color:indianred">
    <h2>Thanks!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h2>
    <img src="http://image.cdn.ispot.tv/ad/71Q0/dodge-out-of-dodge-feat-will-ferrell-large-8.jpg" />
    </body>